@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-size: 10px;
  --black: #000;
  --white: #fff;
  --color-dark-primary: #1e1e1e;
  --color-light-primary: #fbf6ee;
  --color-primary-green: #00ffaa;
  --color-secondary-green: #e8fff0;
  --color-primary-blue: #4579f5;
  --color-secondary-blue: #e8f0ff;
  --color-primary-purple: #9c42f5;
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  max-width: 100vw;
  background-color: var(--color-slate-950) !important;
}
.masteryhouse a {
  text-decoration: none;
}
.box {
  width: 100%;
  max-width: 1500px;
  padding: 0 10rem;
  margin: 0 auto;
}
.box-lg {
  width: 100%;
  max-width: 2500px;
  padding: 0 3.5rem;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
img {
  object-fit: contain;
}
.gradient-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #00ffaa, #4579f5, #9c42f5);
  border-radius: 0.75rem;
  padding: 1.5rem 2.5rem;
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  border: unset;
}
.gradient-text {
  background: linear-gradient(to right, #00ffaa, #4579f5, #9c42f5);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

.homepage {
  width: 100%;
  overflow: hidden;
  max-width: 100vw;
  position: relative;
}
.circle-1 {
  width: 95rem;
  height: 95rem;
  border-radius: 50%;
  background: rgba(155, 66, 245, 0.2);
  filter: blur(300px);
  position: absolute;
  right: -20%;
  top: 25%;
}
.circle-2 {
  width: 55rem;
  height: 55rem;
  border-radius: 50%;
  background: rgba(69, 122, 245, 0.2);
  filter: blur(300px);
  position: absolute;
  left: -6%;
  top: 17%;
}
.circle-3 {
  width: 75rem;
  height: 75rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  right: -36%;
  top: -2%;
}
.circle-4 {
  width: 60rem;
  height: 60rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  left: -15%;
  top: 55%;
}
/* Header  */

header {
  width: 100%;
  height: 7rem;
  padding: 5rem 0;
}
.header_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_cont img {
  width: 50px;
  height: auto;
}
.header_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
}
.header_right a {
  font-size: 1.8rem;
  font-family: "Roboto";
  font-weight: 400;
  color: var(--color-slate-300);
}

/* Hero Section  */
.hero-section {
  width: 100%;
  padding: 15rem 0 10rem 0;
}
.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12rem;
}
.hero-cont-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.hero-cont-left span {
  font-size: 2.4rem;
  font-family: "Lato";
  font-weight: 400;
  color: var(--white);
  margin: 0;
}
.hero-cont-left h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 125%;
}
.hero-cont-left p {
  font-size: 1.8rem;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  line-height: 150%;
  color: var(--white);
  margin: 5rem 0 5.5rem 0;
}

/* Service Section  */
.service-section {
  width: 100%;
  padding: 10rem 0;
}
.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.service-content h4 {
  font-size: 3.6rem;
  font-family: "Lato";
  font-weight: 400;
  color: var(--white);
  line-height: 150%;
  text-align: center;
  width: 80%;
}
.service-grid-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  margin: 10rem 0 15rem 0;
  width: 100%;
}
.service-grid-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 3rem;
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: relative;
}
.circle-sm-1 {
  background: rgba(0, 255, 170, 0.5);
  width: 171px;
  height: 171px;
  position: absolute;
  right: 14px;
  bottom: -25px;
  filter: blur(200px);
}
.circle-sm-3 {
  background: #f43f5e;
  width: 171px;
  height: 171px;
  position: absolute;
  right: 0px;
  bottom: -10px;
  filter: blur(200px);
}
.circle-sm-4 {
  background: #4579f5;
  width: 171px;
  height: 171px;
  position: absolute;
  right: -11px;
  bottom: -25px;
  filter: blur(200px);
}
.service-grid-box img {
  width: 75px;
  height: auto;
}
.service-grid-box h5 {
  font-size: 3.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  background: linear-gradient(to bottom, #00ffaa, #e8f0ff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.service-grid-box.sgb-2 h5 {
  background: linear-gradient(to bottom, #9c42f5, #e8f0ff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.service-grid-box.sgb-3 h5 {
  background: linear-gradient(to bottom, #f43f5e, #e8f0ff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.service-grid-box.sgb-4 h5 {
  background: linear-gradient(to bottom, #4579f5, #e8f0ff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
.service-grid-box p {
  font-size: 2rem;
  font-family: "Lato";
  font-weight: 300;
  line-height: 150%;
  color: var(--white);
}
.service-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5px;
  background: linear-gradient(to right, #00ffaa, #e8f0ff, #00ffaa);
  border-radius: 0.75rem;
  margin-top: 1rem;
}
.service-grid-box.sgb-2 .service-btn {
  background: linear-gradient(to right, #9c42f5, #e8f0ff, #9c42f5);
}
.service-grid-box.sgb-2 .service-btn .inner-service-btn span {
  color: var(--color-primary-purple);
}
.service-grid-box.sgb-3 .service-btn {
  background: linear-gradient(to right, #f43f5e, #e8f0ff, #f43f5e);
}
.service-grid-box.sgb-3 .service-btn .inner-service-btn span {
  color: #ef4444;
}
.service-grid-box.sgb-4 .service-btn {
  background: linear-gradient(to right, #4579f5, #e8f0ff, #4579f5);
}
.service-grid-box.sgb-4 .service-btn .inner-service-btn span {
  color: var(--color-primary-blue);
}
.inner-service-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 3.5rem;
  border-radius: 0.75rem;
  background-color: var(--color-slate-800);
}
.inner-service-btn span {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-primary-green);
}

.service-graphic-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
  position: relative;
}
.service-graphic-text h3 {
  font-size: 3.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  z-index: 2;
  text-align: center;
}
.service-graphic-text .rect-img {
  position: absolute;
  top: -15px;
  left: 0;
  z-index: 1;
  width: 100px;
}
.service-graphic-text .cir-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 104px;
}

/* Team Section  */
.team-section {
  width: 100%;
  background-color: var(--color-slate-900);
  padding: 10rem 0;
  position: relative;
}
.team-circle-1 {
  border-radius: 680px;
  background: rgba(69, 121, 245, 0.2);
  filter: blur(250px);
  width: 680px;
  height: 680px;
  position: absolute;
  right: -20%;
  top: -10%;
  z-index: revert-layer;
}
.team-circle-2 {
  border-radius: 680px;
  background: rgba(156, 66, 245, 0.2);
  filter: blur(250px);
  width: 680px;
  height: 680px;
  position: absolute;
  left: -20%;
  bottom: -10%;
  z-index: revert-layer;
}
.swiper-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 7.5rem 0;
}
.swiper-head h2 {
  font-size: 3.6rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 150%;
}
.sh-right {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.5rem;
}
.sh-right svg {
  font-size: 2rem;
  color: var(--white);
  transition: 0.35s;
  cursor: pointer;
}
.sh-right .swiper-button-disabled svg {
  color: var(--white);
  cursor: auto;
}
.sh-right span:not(.swiper-button-disabled):hover svg {
  color: var(--color-primary-green);
}
#home_page .swiper {
  overflow: visible !important;
}
.team-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
}
.team-card img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.team-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2.5rem 3rem;
  background: linear-gradient(
    180deg,
    rgba(15, 23, 42, 0) 0%,
    rgba(2, 6, 23, 0.8) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.team-bottom h5 {
  color: var(--color-slate-50);
  font-family: "Lato";
  font-size: 2.5rem;
  font-weight: 400;
}
.team-bottom h5 span {
  color: var(--color-slate-300);
  font-size: 1.5rem;
  font-weight: 400;
}
.tb-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}
.tb-social img {
  width: 30px;
  height: auto;
}

/* Get In Touch  */
.getintouch-section {
  width: 100%;
  padding: 10rem 0;
}
.marquee-main-box {
  padding: 5rem 0 10rem 0;
}
.Marquee-Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  margin-right: 3.5rem;
}
.Marquee-Card h3 {
  font-family: "Lato";
  font-size: 4.8rem;
  font-weight: 400;
  background: linear-gradient(180deg, #4579f5 0%, #e8f0ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Marquee-Card div {
  background: rgba(255, 255, 255, 0.5);
  height: 2px;
  width: 100px;
}
.git-box {
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  max-width: 870px;
  margin: 0 auto;
  padding: 5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
  position: relative;
}
.git-circle-1 {
  position: absolute;
  left: -86px;
  top: -95px;
  background: var(--color-primary-blue);
  filter: blur(150px);
  width: 171px;
  height: 171px;
}
.git-circle-2 {
  position: absolute;
  right: -16px;
  bottom: -85px;
  background: var(--color-primary-purple);
  filter: blur(150px);
  width: 171px;
  height: 171px;
}
.git-box h3 {
  font-family: "Lato";
  font-size: 3.6rem;
  font-weight: 400;
}
.git-box p {
  font-family: "Lato";
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: var(--white);
}
